.loading-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    text-align: center;
    z-index: 10000000;
    padding-top: 200px;
    background: rgba(0, 0, 0, 0.9);
}

.loading-popup h1 {
    color: #eee;
    margin-top: 10px
}

.loading-popup img {
    margin: 5px 20px 20px;
    max-height: 100px;
    border-radius: 20px;
    -webkit-animation: loading 3s ease-out infinite normal;
    animation: loading 3s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50%{
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50%{
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}